################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BPAS Setup/Release
/BigPictureAudioSwitch/obj/Release/TempPE
